.MainDash{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}


/* .usersTable>Table{
    overflow: scroll;
} */
.usersTable>h3{
    margin-left: 4rem;
    margin-top: 4rem;
}

.reportedPostsTable>h3{
    margin-left: 4rem;
    margin-top: 4rem;
}

.NotificationsAcordian>h3{
    /* margin-left: 4rem; */
    margin-top: 4rem;
}

.NotificationsAcordian{
    padding-left: 3rem! important;
    width: 90% !important;
}