.AdminCenter{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 99%;
    align-items: center;
    background-color: rgb(15, 129, 230);
    /* justify-content: center; */
}

.heading{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8dddd;
    padding: 5px;
    margin-top: 3rem;
    border-radius: 1rem;
}