/* .Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
    background: linear-gradient(106.37deg,
            #ffe1bc 29.63%,
            #ffcfd1 51.55%,
            #f3c6f1 90.85%);
    
}

.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    justify-content: center; 
    align-items: center;
    height: 4%;
}

.logo>img{
    width: 3rem;
    height: 3rem;
}

.logo>span>span{
    color:var(--pink);
  } */

/* menu */

/* .menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}

.menuItem{
    background: linear-gradient(106.37deg,
            #eed9be 29.63%,
            #ffcfd1 51.55%,
            #f3c6f1 90.85%);
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 2rem;
    
}

.menuItem:active {
    
    transform: translateY(4px);
  }


  .menuItem>span:nth-of-type(1){
    padding-left: 8px;
    padding-top: 2px;
  } */



  .Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
    
}

.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    justify-content: center; 
    align-items: center;
    height: 4%;
}

.logo>img{
    width: 3rem;
    height: 3rem;
}

.logo>span>span{
    color:var(--pink);
  }

/* menu */

.menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}

.menuItem:hover{
    cursor: pointer;
}

.active{
    background: var(--activeItem);
    margin-left: 0;
}

.active::before{
    content: '';
    width: 8px;
    height: 100%;
    background-color: var(--pink);
}